services:
  - type: web
    name: telegram-reply-bot
    env: python
    plan: free
    region: frankfurt
    buildCommand: |
      rm -rf .venv
      rm -rf __pycache__
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        value: 8452408836:AAHFStzA0EgKgyyrLAK121dnlK59nCgnoEw
      - key: CHANNEL_ID
        value: -1002798561239
      - key: CHANNEL_USERNAME
        value: randomirani
